# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Development\lunamultiplayerdocker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/lunamultiplayerdocker.iml
/misc.xml
/modules.xml
/vcs.xml
